<!-- Utiliser {{ }} pour faire référence aux variables ou méthodes publiques du composant-->
<p>valeur du input = {{ value }}</p>

<!-- L'opérateur | permet d'utiliser des pipes (fonctions) pour l'affichage -->
<p>valeur du input (en majuscule) = {{ value | uppercase }}</p>

<p>Date = {{ currentTimestamp | date }}</p>

<!-- Utiliser [(ngModel)] pour définir un two-way binding -->
<input name="variable" [(ngModel)]="value" (ngModelChange)="onValueChange()" />

<!-- Utiliser (...) pour associer une fonction qui sera déclanchée par un événement particulier. -->
<!-- $event capture l'événement -->
<button (click)="delete($event)">x</button>

<!-- *ngIf pour un affichage conditionnel -->
<div *ngIf="value.includes('a'); else otherTemplate">
  <p>Contient un 'a'</p>
</div>

<div>
  <!-- *ngFor pour itérer -->
  <span *ngFor="let c of toChar(value); let i = index">
    <span>{{ c }}</span
    ><span *ngIf="i !== toChar(value).length - 1">, </span>
  </span>
</div>

<!-- ng-template permet de définir des sections de HTML qui ne sont pas afficher
La syntaxe #nom permet de faire référence à l'élément ailleurs dans le template -->
<ng-template #otherTemplate><p>Ne contient pas de 'a'</p></ng-template>
